<footer class="new-footer-clean">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-3 col-md-3">
        <h5>About Us</h5>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Legacy</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3">
        <h5>Product</h5>
        <ul>
          <li><a href="#">Mobile</a></li>
          <li><a href="#">Television</a></li>
          <li><a href="#">Laptops</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3">
        <h5>Offline Stores</h5>
        <ul>
          <li><a href="#">Kolkata - North</a></li>
          <li><a href="#">Mumbai - South</a></li>
          <li><a href="#">Near My Location</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3 social logoapp" style="padding-top: 20px">
        <a href="http://www.facebook.com">
          <i class="icon bi bi-facebook" style="padding-left: 5px; color: #212529"></i></a>
        <a href="http://www.instagram.com">
          <i class="icon bi bi-instagram" style="padding-left: 10px; color: #212529"></i></a>
        <a href="#">
          <i class="icon bi bi-twitter" style="padding-left: 10px; color: #212529"></i></a>
        <a href="#">
          <i class="icon bi bi-cloud-fill" style="padding-left: 10px; color: #212529"></i></a>

        <p class="copyright">EStoreApp © 2022</p>
      </div>
    </div>
  </div>
</footer>
